@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


body {
	font-family: 'Open Sans', sans-serif;	
}


fieldset {
	border: solid #34344a 10px;
	padding: 10px 20px 10px 20px;
}

legend {
	font-size: 24px;
	
}
 
 #main_heading {
	 margin: auto;
	width: 450px;
	 text-decoration: underline #FF5733;
 }
 
 /*the layout of the add form*/
 #add_form_heading {
	width: 60%;
	margin: 0 auto;	
	  padding: 10px 20px 10px 20px;		
}

/*the layout of the remove form*/
#remove_form_heading {
	
	  padding: 10px 20px 10px 20px;	
	  width: 60%;
  margin: 0 auto;	
}

/*the layout of the stock display and average prices*/
#stock_display {
	width: 60%;
	margin: 0 auto;	
	  padding: 10px 20px 10px 20px;
}

button {
	background-color: #FF5733;
	width: 20%;
	padding: 14px 28px;
	font-weight: bold;
}   

/*table in the stock display and average prices*/
table {
	 border-collapse: separate;
     border-spacing: 0 15px;
}

td {
        width: 150px;
        text-align: center;
        padding: 5px;
}